# Copie este arquivo para ".env" e ajuste conforme necessário.

# Diretório onde os arquivos parquet serão salvos.
# Se não for definido, o padrão é a pasta "data/" na raiz do projeto.
OUTPUT_DIR=./data
